


<%=render :partial=>"search"%>
<div class="column contactlist">
  <div class="mainbox">
    <div class="menu">
      <% content_for :head do %>
        <li><%=link_to "Export Search Results", request.parameters.merge({:format => :csv}),{:class=>"export"}%></li>
        <li><%=link_to "Add New Candidates", new_interview_path%></li>
      <% end %>
    </div>
    <div class="displaying">
      <%= page_entries_info @interviews %>
    </div>
    <%if @interviews.blank?%>
      <h3>  No Results Found</h3>
    <%end%>
    <table id="ashish"class="standard_table" cellpadding="0" cellspacing="0" >
      <tbody><tr class="list">

          <th>Name</th>
          <th>Status</th>
          <th>Reference</th>
          <th>Date Of Interview</th>
          <th>Document List</th>
          <th>Document Import</th>
        </tr><% j=1 %>
        <% @interviews.each_with_index do |interview,i| %>
          <tr class="<%=cycle('', 'alt_row')%>">

            <td>
              <%= link_to "#{h interview.name.upcase}",interview %></td>
            <td><%=h interview.result %></td>
            <td><%=h interview.refer %></td>
            <td><%=h interview.doi.strftime("%d/%m/%Y")  %>

            <td><%interview.attachments.each_with_index do |attachment,i|%>
                <%= link_to "#{attachment.data_file_name}", download_attachment_url(:id=>interview.id,:attachment_id=>attachment.id) %>
                <%= "," if i+1 < interview.attachments.length%>
              <%end%>
            </td>
            <td><%=  link_to image_tag("paperclip_icon.png", :alt => "Upload File", :title => "UPLOAD",:width => 20, :height => 20), "javascript:void(0);",:onclick=>"window.open('#{upload_personal_doc_url(:id=>interview.id)}','Import Document','Height=200px;width=960px;')" %>
              <%=  link_to image_tag("Symbols Delete.png", :alt => "Delete", :title => "DELETE",:remote=>true,:width => 20, :height => 25), interview, :confirm => 'Are you sure?', :method => :delete %>
            </td> </td>
          </tr><% j=j+1 %>
        <% end %>
      </tbody>
    </table>
    <%=will_paginate @interviews%>
    <div class="clear"></div>
  </div></div>


