<%=render :partial=>"search"%>
<div class="column contactlist">
  <div class="mainbox">
    <div class="menu">
      <% content_for :head do %>
        <li><%=link_to "Export Search Results", request.parameters.merge({:format => :csv}),{:class=>"export"}%></li>
        <li><%=link_to "Add New Candidates", new_interview_path%></li>
      <% end %>

      <p id="notice"><%= notice %></td></tr>
      <div id ="test">
        <table id="form3">
          <caption><center><b>Details of <%= @interview.resource_name.upcase %> </b></center></caption>
          <th>Experience:</th><td>
            <%= @interview.cv_recieved_on.strftime("%d/%m/%Y") %>
          </td></tr>
          <tr>
            <th>Recieved From:</th><td>
              <%= @interview.recieved_from %>
            </td></tr>
          <tr>
            <th>For Location:</th><td>
              <%= @interview.for_location   %>
            </td></tr>
          <tr>
            <th>Skills:</th><td>
              <%= @interview.skills %>
            </td></tr>
          <tr>
            <th>Total Experience:</th><td>
              <%= @interview.total_experience %>
            </td></tr>
          <tr>
            <th>Contact Number:</th><td>
              <%= @interview.contact_number %>
            </td></tr>
          <tr>
            <th>Source:</th><td>
              <%= @interview.source %>
            </td></tr>
          <tr>
            <th>Status:</th><td>
              <%= @interview.status %>
            </td></tr>
          <tr>
            <th>Remarks:</th><td>
              <%= @interview.remarks %>
            </td></tr>
          <tr>
            <th>Date of Interview:</th><td>
               <% if @interview.date_of_interview.nil? %>
          <p>Not Applicable</p>
          <% else %>
              <%= @interview.date_of_interview.strftime("%d/%m/%Y") %>
          <% end %>
            </td></tr>
          <tr> 
            <th>Date of Joining:</th><td>
              <% if @interview.date_of_joining.nil? %>
          <p>Not Applicable</p>
          <% else %>
              <%= @interview.date_of_joining.strftime("%d/%m/%Y") %>
          <% end %>
            </td></tr>
          <tr>
            <th>First Round:</th><td>
              <%= @interview.first_round %>
            </td></tr>
          <tr>
            <th>Second Round:</th><td>
              <%= @interview.second_round %>
            </td></tr>
          <tr>
            <th>MR Round:</th><td>
              <%= @interview.mr_round %>
            </td></tr>
          <tr>
            <th>E-Mail:</th><td>
              <%= @interview.email %>
            </td></tr>
          <tr>


            <td><center><%= link_to 'Edit', edit_interview_path(@interview),:class =>"button_height ui-state-default ui-corner-all" %></td>
            <td><center><%= link_to 'Back', interviews_path,:class =>"button_height ui-state-default ui-corner-all" %></td>


          </tr>
        </table>
      </div>



      <%=  link_to_function("Print this Page", "javascript:print()")%>
    </div>
  </div>