<%=render :partial=>"search"%>
<div class="column contactlist">
  <div class="mainbox">
    <div class="menu">
      <% content_for :head do %>
        <li><%=link_to "Export Search Results", request.parameters.merge({:format => :csv}),{:class=>"export"}%></li>
        <li><%=link_to "Add New Candidates", new_interview_path%></li>
      <% end %>

    <p id="notice"><%= notice %></td></tr>
    <div id ="test">
      <table id="form3">
      <caption><center><b>Details of <%= @interview.name.upcase %> </b></center></caption>
      <th>Experience:</th><td>
        <%= @interview.total_exp %>
      </td></tr>
      <tr>
        <th>Skills:</th><td>
          <%= @interview.ror_exp %>
        </td></tr>
      <tr>
        <th>Date Of Interview:</th><td>
          <%= @interview.doi.strftime("%d/%m/%Y")   %>
        </td></tr>
      <tr>
        <th>Date Of Joining:</th><td>
          <% if(@interview.dof.nil?) %>
          <p>Pending</p>
          <% else %>
          <%= @interview.dof.strftime("%d/%m/%Y")%>
          <% end %>
        </td></tr>
      <tr>
        <th>Reference:</th><td>
         <% if(@interview.refer.nil?) %>
          <p>Not Applicable</p>
          <% else %>
          <%= @interview.refer %>
          <% end %>
        </td></tr>
      <tr>

        <th>Type orLocation:</th><td>
          <%= @interview.type_location %>
        </td></tr>
      <tr>
        <th>Status:</th><td>
          <%= @interview.result %>
        </td></tr>
      <tr>
        <th>Contact Number:</th><td>
          <%= @interview.phoneNumber %>
        </td></tr>
      <tr>
        <th>Remarks:</th><td>
          <%= @interview.remarks %>
        </td></tr>
      <tr>
        <th>Email:</th><td>
          <%= @interview.email %>
        </td></tr>
      <tr>
        <td><center><%= link_to 'Edit', edit_interview_path(@interview),:class =>"button_height ui-state-default ui-corner-all" %></td>
        <td><center><%= link_to 'Back', interviews_path,:class =>"button_height ui-state-default ui-corner-all" %></td>
     

      </tr>
      </table>
    </div>

    
   
    <%=  link_to_function("Print this Page", "javascript:print()")%>
  </div>
</div>