<div class="mainbox">
  <%= form_for :current_user, :url=>{:controller=>"users",:action=>"change_password"}, :html=>{:remote=>true} do |f| %>
    
    <div id="errors" class="errorExplanation" style="display:none"></div>
      
    <table id="form1">
      <tr>
        <div class="field">
          <th> Existing Password<br /></th><td>
            <%= password_field_tag :password %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th> New Password<br /></th><td>
            <%= password_field_tag :new_password %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th> Confirm Password<br /></th><td>
            <%= password_field_tag :confirm_password %></td>
        </div>
      </tr>
    </table>
    <div class="actions">
      <center><%=  submit_tag "Update" %></center>
    </div>
  <% end %>
</div>
