<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-type" />
      <title>IMS</title>
      <%= stylesheet_link_tag 'ims','form','jquery.lightbox-0.5' %>
      <%= stylesheet_link_tag 'ims_templates' %>
      <%= stylesheet_link_tag "jquery-ui", "application","jquery.ui.autocomplete","facebox" %>
      <%= javascript_include_tag "jquery.min", "jquery-ui.min", "application","jquery.lightbox-0.5","facebox" %>
      <%= stylesheet_link_tag 'Style' %>
      <%= stylesheet_link_tag 'main' %>
      <%= csrf_meta_tag %>
      <%= javascript_include_tag "rails" %>
  </head>
  <body bgcolor="#F0F0FF">



    <!-- Main -->
    <!--div id="main" class="box"-->
    <div id="main" >
      

        <!-- Header -->
        <div id="header">
          <!-- Logotyp -->
          <div class="info" style="float:right">
            <% if @current_user %>
              <label id="username">
                <%= @current_user.firstname%> <%= @current_user.lastname %>&nbsp;&nbsp; | &nbsp;
                <%= link_to 'Logout', logout_url%>&nbsp;&nbsp; | &nbsp; <%= link_to 'Change Password', change_password_form_users_url, :class=>'lightbox', :rel=>"facebox" %>
              </label>
            <% end %>
          </div>
          <h1 id="logo"> 	<span title="IMS (Go to homepage)" onclick="location.href='/interviews'" style="cursor:pointer" >   Interview Management System</span></h1>

        </div>







      <div id="user">
        <div id="tabs" class="noprint">

          <ul class="box" id="mainMenu">
            
            <li <%= 'class=active' if params[:controller] == 'interviews' and params[:action] != 'csv_upload'%>>
              <%= link_to 'Candidates', interviews_path%>
            </li>
            <li <%= 'class=active' if params[:controller] == 'interviews' and params[:action] == 'csv_upload'%>>

              <%= link_to 'Import Data via CSV File', csv_upload_interviews_url%>
            </li>
            
            <li <%= 'class=active' if params[:controller] == 'users'%>>
              <%= link_to 'Users', users_url if @current_user.role=="SuperAdmin"%>
            </li>

           
 
          </ul>
          
        </div>
        
      </div>


      <!-- Page (2 columns) -->
      <!--div id="page" class="box"-->
      <div id="page">
        <!--div id="page-in" class="box"-->
        <div id="page-in" >

          <div id="strip" class="box noprint">
            <p id="sso"></p>
            <strong>
              <div>

              </div>
            </strong>
            <hr class="noscreen" />
          </div> <!-- /strip -->
          
          <!-- Content -->
          <div id="content">
            <div id="message" class="success"></div>
            <!-- Article --><center />
              <!-- /article --><%=yield%>
              <hr class="noscreen" />
          </div> <!-- /content -->



        </div> <!-- /page-in -->

      </div> <!-- /page -->

      <!-- Footer -->
      <!-- /footer -->

    </div> <!-- /main -->


  </body>
</html>

